<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <header>
        <h1>URL Shortner</h1>
    </header>
    <section id="url-shortner">
        <h1>Paste your URL here</h1>
        <!-- <form action="/shortURL" method="POST"> -->
            <form action=""></form>
            <label for="fullURL">URL</label>
            <input type="url" name="fullURL" id="fullURL">
            <button type="submit" id="Shorten" onclick="getShortUrl()">Shorten</button>
        </form>
        <div id="shortendURL" style="display: none;">
            <label for="shortendURL">The shortend URL:</label>
        </div>
    </section>
    <script src="/js/index.js" type="text/javascript"></script>
</body>
</html>